:root {
  --light: #eee;
  --dark: #342F4E;
  --darker: #8b7ed5;
  --blue: #61DAFB;
  --crimson: #DB3052;
  
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira sans', sans-serif;
  
} */

body {
  background-color: var(--darker);
}

.h1{
  text-align: center;
}
title{
  text-align: center;
}


